.padding {
    padding: .5rem 1rem;
}
.big-about {
    font-size: 1.5rem;
}
.small-about {
    font-size: 1.25rem;
}
a {
    color: #212529;
    text-decoration: none;
}
a:hover {
    color: #212529;
    text-decoration: none;
}
.del-btn {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}