{% extends "base.html" %}

{% block content %}
<br>
<div class="col-md6 border rounded">
    <div class="navbar">
        <h1>{{ user.name }}</h1>
        {% if current_user.is_authenticated and current_user == user %}
        <div>
            <a class="btn btn-secondary" href="/user/{{ user.id }}/edit">Изменить</a>
            <a class="btn btn-danger" href="/user/{{ user.id }}/delete">Удалить</a>
        </div>
        {% endif %}
    </div>
    <div class="padding big-about">{{ user.about }}</div>
    <div class="padding">Аккаунт создан: <i>{{ user.created_date.strftime('%d.%m.%Y') }}</i></div>
</div>
<br>
<div class="padding">
    {% for item in user.mods%}
    <div class="col-md6 border rounded">
        <div class="navbar">
            <h2><a href="/mod/{{item.id}}">{{item.name}}</a></h2>
            <i>v {{item.version}}</i>
        </div>
        <div class="padding">⭐{{ item.get_rate() }}</div>
        <div class="padding small-about">{{ cut_str(item.description, 50) }}</div>
        <div class="padding">Дата публикации: <i>{{item.uploaded_date.strftime('%d.%m.%Y')}}</i></div>
    </div>
    {% endfor %}
</div>
{% endblock %}